header {
    overflow: s;
    .banner-img {
        width: 100%;
    }
    .eysuvis-logo {
        position: absolute;
        width: 120px;
        height: 59px;
        top: 170px;
        right: 9px;
    }
    @media screen and (min-width: 320px) {
        .eysuvis-logo {
            width: 138px;
            height: 67px;
            top: 195px;
            right: 9px;
        }
    }
    @media only screen and (min-width: 360px ) {
        .eysuvis-logo {
            width: 144px;
            height: 74px;
            top: 220px;
            right: 13px;
        }
    }
    @media screen and (min-width: 375px) {
        .eysuvis-logo{
            top: 228px;;
        }
    }
    @media only screen and (min-width: 400px) {
        .eysuvis-logo {
            width: 160px;
            height: 82px;
            top: 256px;
            right: 15px;
        }
    }
    @media screen and (min-width: 768px) {
       .eysuvis-logo {
        height: 74px;
        width: 291px;
        top: 464px;
        right: 31px;
        height: 151px;
       } 
    }
    @media screen and (min-width:992px) {
        background-image: url(../images/content-images/header-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 35%;
        padding: 0 0 14px 0;
        .eysuvis-logo {
            width: 222px;
            top: 11px;
            left: 150px;
            height: 111px;
        }
        .now-approved {
            height: 72px;
            width: 506px;
            position: relative;
            top: 190px;
            margin-left: 109px;
        }
        .coming-soon {
            position: relative;
            top: 190px;
            height: 70px;
            left: 10px;
        }
        .rx-medicine {
            font-family: arial;
            @include fontSize(20);
            line-height: 1.3;
            color: $primary-color;
            margin-top: 200px;
            margin-left: 106px;
            p {
                margin: 0;
            }
            span {
                font-family: arial-bold-italic;
                color: $blue-color;
            }
            ul {
                margin: 0;
            }
            .treatment {
                padding: 0 0 0 20px;
            }
            .tissue-distribution {
                padding: 0 0 0 20px;
                li {
                    list-style: none;
                    &:before {
                        content: '-';
                        padding: 0 4px;
                        @include fontSize(28);
                    }
                    &:last-child {
                        &:before {
                            content: none;
                        }   
                    }
                }
            }
            .dry-eye {
                color: $orange-color;
            }
            .study {
                margin-top: 10px;
                @include fontSize(18);
            }
        }
    }
    @media screen and (min-width: 1200px) {
        background-position-x: 50%;
        .eysuvis-logo {
            width: 237px;
            top: 11px;
            left: 185px;
            height: 128px;
        }
    }
    @media screen and (min-width: 1400px) {
        .eysuvis-logo {
            left: 320px;
        }
    }
}