.safety-information {
    .fda {
        font-family: Arial;
        @include fontSize(24);
        color: $text-color;
    }
    strong {
        font-family: arial-bold-italic;
        color: $secondary-text-color;
    }
    h2 {
        font-family: "arial-bold";
        color: $secondary-text-color;
        @include fontSize(24);
    }
    .safety-info {
        font-family: Arial;
        @include fontSize(20);
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        position: fixed;
        padding: 20px 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 3;
        background: $primary-color;
        p {
            margin: 0;
        }
        .up-arrow {
            width: 16px;
            position: absolute;
            right: 10px;
        }
    }
    .safety {
        @include fontSize(21);
        span {
            font-family: arial-bold;
            color: $secondary-text-color;
        }
        p {
            font-family: Arial;
            margin-bottom: 10px;
            color: $secondary-color;
            line-height: 1.4;
        }
        .adverse-reaction {
            margin-bottom: 0;
        }
        .down-arrow-icon {
            display: block;
            position: absolute;
            right: 20px;
            width: 30px;
            transform: rotate(180deg);
        }
    }
    .sticky-info {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        overflow-y: scroll;
    }
    @media screen and (min-width:992px) {
        h2 {
            @include fontSize(28);
        }
        .info {
            padding: 0 80px 0 110px;
        }
        .safety-info { 
            @include fontSize(21);
           .up-arrow {
            width: 24px;
            right: 100px;
           }
        }
        .safety {
            @include fontSize(24);
            .adverse-reaction {
                margin-bottom: 10px;
            }
            .down-arrow-icon {
                display: block;
                position: absolute;
                right: 140px;
                transform: rotate(180deg);
            }
        }
    }
    @media screen and (min-width:1200px) {
        .safety-info { 
           .up-arrow {
            right: 200px;
           }
        }
        .safety {
            .info {
                padding: 0 120px;
            }
            .down-arrow-icon {
                right: 230px;
            }
        }
    }
    @media screen and (min-width: 1400px) {
        .safety {
            .down-arrow-icon {
                right: 330px;
            }
        }
    }
}